### Pandas Basicos
- 1d labeled array

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_columns',None)
pd.set_option('display.width',None)
pd.set_option('display.max_colwidth',50)

# basically serieses tf !? array with index label
s1=pd.Series([1,2,3,45,6,7,8])
s2=pd.Series([1,2,3,4],index=['a','b','c','d'])
s3=pd.Series({'a':1,'b':2,'c':3,'d':4})
print("values :",s2.values,"\n lenghth :",len(s2),"\n indexes: ",s2.index)
print(s3)

values : [1 2 3 4]
 lenghth : 4
 indexes:  Index(['a', 'b', 'c', 'd'], dtype='object')
a    1
b    2
c    3
d    4
dtype: int64

### DataFrame (2D labeled array)
DataFrame is like a dictionary of Series or a 2D NumPy array with row and column labels.

In [29]:
# dictionary
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'age': [25, 30, 35, 28],
    'city': ['NYC', 'LA', 'Chicago', 'Miami'],
    'salary': [50000, 60000, 70000, 55000]
}

df = pd.DataFrame(data)

print(df)
print()

#list of dictionaries
data2 = [
    {'name': 'Alice', 'age': 25, 'city': 'NYC'},
    {'name': 'Bob', 'age': 30, 'city': 'LA'},
    {'name': 'Charlie', 'age': 35, 'city': 'Chicago'}
]
print(pd.DataFrame(data2))

arr = np.random.randint(low=0, high=10, size=(5,4))
pd.DataFrame(arr,columns=['a','b','c','d'],index=np.arange(1,6,1))
#dont forget non inclusiveness

      name  age     city  salary
0    Alice   25      NYC   50000
1      Bob   30       LA   60000
2  Charlie   35  Chicago   70000
3    Diana   28    Miami   55000

      name  age     city
0    Alice   25      NYC
1      Bob   30       LA
2  Charlie   35  Chicago

   a  b  c  d
1  7  3  5  6
2  1  2  5  8
3  3  5  0  3
4  9  3  8  2
5  6  2  0  2

###  Data Loading & Saving

In [ ]:
# csv files 
df= pd.read_csv('data.csv',sep=',',header=0,index_col=0)
# df2= pd.read_csv('data.csv',sep=',',usecols=['col1','col2'],nrows=100)
# colds dont exist




# Returns list of DataFrames

# Web scraping
# ytIrl = pd.read_html('https://www.youtube.com/results?') 
# need lxml for links

In [33]:
# Data saving 
# random matrix filled with integers
arr = np.random.randint(low=0, high=10, size=(5,4))
df=pd.DataFrame(arr,columns=['a','b','c','d'],index=np.arange(1,6,1))

# df.to_csv('output.csv',index=False)
df.to_csv('output.csv', sep=',', columns=['a', 'b','c','d'])